.core_signUp {
  display: flex;
  flex-direction: column;
}

.core_text {
  color: rgb(6, 153, 211);
  text-align: center;
  cursor: pointer;
}
.core_posts {
  padding: 20px;
}
.core_progress {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
